 <div class="col">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Tasks</h4>
        </div>
        <div class="card-body">
            <form id="task-form">
                <input id="task-input" name="newTask" class="form-control form-control-lg" type="text" placeholder="New Task">
            </form>
        </div>
        <ul class="list-group list-group-flush">
            {{#each to_dos}}
                {{#unless completed}}
                <li class="list-group-item">
                    <div class="row">
                        <div class="task-col col align-self-center">
                            {{this.newTask}}
                        </div>
                        <div class="buttonDiv col-4">
                            <button taskid="{{this.id}}" name="{{this.newTask}}" class="mark-complete btn btn-success">Completed</button>
                            <button taskid="{{this.id}}" name="{{this.newTask}}" class="delete btn btn-danger align-self-start">X</button>
                        </div>
                    </div>
                </li>
                {{/unless}}
            {{/each}}
        </ul>
    </div>
</div>
<div class="col">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Completed</h4>
        </div>
        <ul class="list-group list-group-flush">
            {{#each to_dos}}
                {{#if completed}}
                <li class="list-group-item">
                    <div class="row">
                        <div class="task-col col align-self-center">
                            {{this.newTask}}
                        </div>
                        <div class="buttonDiv col-4">
                            <button taskid="{{this.id}}" class="mark-unfinished btn btn-warning">Unfinished</button>
                            <button taskid="{{this.id}}" name="{{this.newTask}}" class="delete btn btn-danger align-self-start">X</button>
                        </div>
                    </div>
                </li>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</div>